<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    {% include 'style.html' %}
</head>
<body>
{% include 'navbar.html' %}


<form method="post">
    {% csrf_token %}
    <p><input type="text" name="title" placeholder="Tytuł"></p>

    <p><select name="author_id">
       {% for author in authors %}
           <option value="{{ author.id }}">{{ author }}</option>
        {% endfor %}
    </select></p>
    <p>
        {% for genre in genres %}
            <p>
                <input type="checkbox" name="genre" value="{{ genre.id }}">
            {{ genre.name }}
            </p>
        {% endfor %}
    </p>
    <p><input type="submit" ></p>
</form>
<p>{{ message }}</p>




</body>
</html>