<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    {% include 'style.html' %}
</head>
<body>
{% include 'navbar.html' %}


To jest szczegółowy widok Autora:
<h1>
    {{ ksiazka.title }}<br>
    {{ ksiazka.author }}
</h1>
<h2>książki autora</h2>
<div class="content">
    <table style="background-color: aquamarine">
        <tr>
            <th>Gatunek</th>

        </tr>
        {% for item in ksiazka.genres.all %}
            <tr>
                <td style="background-color: azure">{{ item.name }}</td>
            </tr>
        {% endfor %}
    </table>
</div>

</table>





</body>
</html>