<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    {% include 'style.html' %}
</head>
<body>
{% include 'navbar.html' %}

<div class="content">
    <table style="background-color: aquamarine">
        <tr>
            <th>Title</th>
            <th>Autor</th>
        </tr>
        {% for book in ksiazki %}
            <tr>
                <td style="background-color: azure"><a href="/books/{{ book.id }}/"> {{ book.title }}</a></td>
                <td><a href="/authors/{{ book.author.id }}/">{{ book.author }}</a></td>
            </tr>
        {% endfor %}
    </table>
</div>


</body>
</html>